body, html {
    margin: 0px;
    padding: 0px;
    background-color: #5a7278;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    color: #59a970;
    margin:0px;
}

.container {
    width: 720px;
    display: flex;
    margin: 20px auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid #3d494f;
    padding: 20px;
    
}

.hud-container {
    /* border: solid #3d494f; */
    justify-content: space-between;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.selection--container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: 20px;
}

.selection--button {
    width: 200px;
    height: 200px;
    border: solid #3d494f;
}

.selection--button:hover {
    background-color: #59a970;
}

.results--container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.vs {
    font-size: 40px;
    font-weight: 900;
    font-style: italic;
}

.portrait {
    width: 80px;
    height: 80px;
    font-size: 60px;
    border: solid #3d494f;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5a7278;
    z-index:1
}

.score--container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.score--bar {
    border: solid #3d494f;
    border-radius: 20px;
    flex-grow: 1;
    padding: 4px;
    
}

.human-score {
    text-align: left;
    margin-left: -20px;
    background-color: green;
}

.computer-score {
    text-align: right;
    margin-right: -20px;
    background-color: green;
}